<!DOCTYPE html>
<html>
<body>
    <div style="display:flex; justify-content:center; align-items:center;">
        <div style="max-width:60%; padding:20px; background-color: aliceblue;">
            <h1> Memtravel
            <h3>This is your new Password please update it once you login again:
            <p style="padding: 10px; font-size: 14px;">
                {{.Password}}
            </p>
            <p> 
                If you did NOT request this please contact us immediatly 
            </p>
            <div style>

            </div>
        </div>
    </div>
</body>
</html>