<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memtravel</title>
</head>

<body
    style="height: 100%; background-color: #222831; color: #EEEEEE; font-family: Arial, sans-serif;">
    <div style="padding: 20px;">
        <h1 style="color: #EEEEEE;"> Welcome to <span style="color: #00ADB5;">Memtravel,</span></h1>
        <p style="margin-top: 10px; margin-top: 30px; color: #EEEEEE;">Please click on the following button to activate your Memtravel account:</p>
        <a style="font-size: 12px; color: #00ADB5; text-decoration: none;" href="{{.Link}}">{{.Link}}</a>
        <p style="margin-top: 20px; color: #EEEEEE;">If you did <span style="font-weight: bold;">NOT</span> request this please contact us immediatly</p>
    </div>
</body>

</html>